<div class="row">
  <h1>Tipos de Produtos</h1>
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h3>Adicionar Tipo de Produto</h3>
      </div>
      <%= render 'form', tipos_produto: @tipos_produto %>
    </div>
  </div>

  <%= link_to 'Back', tipos_produtos_path %>

</div>