<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipos_produto.descricao %>
</p>

<%= link_to 'Edit', edit_tipos_produto_path(@tipos_produto) %> |
<%= link_to 'Back', tipos_produtos_path %>
